@import url(_accueil.css);


.menu__dispo{


color: rgb(0, 0, 0);

}

.stock{

color: rgb(255, 255, 255);


}

.block__fashion{

display: block;
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
padding-right: 50px;
padding-bottom: 10px;
padding-top: 10px;
width: 250px;
padding-left: 50px;
background: #000000;
color: rgb(255, 255, 255);
font-size: 1.6rem;
font-weight: bold;
text-decoration: none;
text-transform: uppercase;
text-align: center;
}

body p a{

    
    display: block;
    width: 200px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    
}


header{
    background-color: rgb(201, 201, 201);
}
footer{
    background-color: rgb(201, 201, 201);
    
    
}



body p a{
    text-decoration: none;
    width: 170px;
}

body p a:hover{
    color: crimson;
        
}








section{

    text-align: center;
}


body section div{
    width: 420px;
    height: 420px;
    background-color: rgba(184, 178, 178, 0.719);
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: groove;

    
}

img{
    height: 200px;
    width: auto;
}

h4{
    text-align: center;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    margin-left: 850px;
    margin-right: 850px;
}



footer span{
    width: 250px;
    height: 250px;
    background-color: rgba(184, 178, 178, 0.719);
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: groove;
    
}

footer{
    background-image: url(../client.png), url(../doigt.png), url(../tel.png), url(../fashion-1.png), url(../fashion-2.png), url(../BALL\ X\ ecrit.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 250px, 220px, 250px, 550px, 550px;
    background-position-x: 270px, 270px, 270px, 650px, 1250px, 20px;
    background-position-y: 80px, 350px, 690px, 100px, 100px, 960px;

}

footer time{
    margin-left: 25px;
}



footer .block__fashion{
    margin-left: 1050px;
    margin-top: 40px;
    background: rgb(201, 201, 201);
    color: rgb(0, 0, 0);
    text-decoration: underline dashed;
}

body{
    background: url(../GQ-Off-White-removebg-preview.png);
background-repeat: no-repeat;
background-position-x: 1500px;
background-position-y: 900px;
background-size: 400px;


}